<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


        <form action=/result method='post'>
            <table>
            <tr>
               <td> Your Name:</td> 
               <td> <input type='text' name='Name' required><br></td>
            </tr>
            <tr>
                <td> Dojo Location:</td> 
                <td>  <select name="Location" required>
                    <option value="Nablus">Nablus</option>
                    <option value="Ramallah">Ramallah</option>
                    <option value="Jinen">Jinen</option>
                </select><br></td>
             </tr>
             <tr>
                <td>Favorite language: </td> 
                <td><select name="Language" required>
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                    <option value="C#">C#</option>
                </select><br></td>
             </tr>
        
        <tr>
            <td><label for="">Your Gender:</label></td>
            <td><input type="radio" name="gender" value="femail" required><label for="">Femail</label></td>
            <td>
                <input type="radio"  name="gender" value="male" required><label for="">male</label>
            </td>
        </tr>
        
       <tr> <td><p>Comment (optional):</p></td></tr>
       <tr> <td><input type="text" name="Comment" class="text" ></td></tr>

    </table>
        <input type='submit' value='Save Info'>
    </form>

</body>
</html>