html,body{
    align-items: center;
    font-family: cursive;
    width: 100%;
    height: 100%;
   
}
table{
    background-color: pink;
    border: 2px solid black;
    margin: 0 auto;
    width: 40%;
    height: 400px;
}
tr{
    border: 2px solid white;
}
.text{
    width: 100%;
    height:100px;
}
input[type=submit]{
    margin-left:30% ;
    width: 10%;
    background-color: aliceblue;
    font-family: cursive;


}
